
<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home" (click)="log()"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Map" icon="map" href="/tabs/(map:map)">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Scanner" icon="qr-scanner" href="/tabs/(scanner:scanner)">
    <ion-router-outlet name="scanner"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
 
</ion-tabs>



